<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again_game_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,160},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,116},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,46},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,230},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>joystick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,70},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,226},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>max.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,186},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>record_breaking.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{411,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,89}}</string>
                <key>sourceSize</key>
                <string>{411,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>resources.png</string>
        </dict>
    </dict>
</plist>
